<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Bug-Tracker</title>
        <meta charset="utf-8"/>
  
       
        <link rel="stylesheet" href="./main.css" />
  
        <script src="./table.js"></script>
        <script src="./form.js"></script>
        <script src="./UserInterfaceEventHandler.js"></script>
        <script src="./main.js"></script>
    </head>
    <body>
        <header>
            <h1>Bug-Tracker // Maher Dahi ,Hussam Aljbawi </h1>
        </header>
        <div class="main-wrapper">
            <nav>
                <ul>
                    <li class="nav-active" id="bugs">Bearbeitung Fehlerdaten</li>
                    <li class="nav-inactive" id="projects">Pflege Projekte</li>
                    <li class="nav-inactive" id="components">Pflege Komponenten</li>
                    <li class="nav-inactive" id="devs">Pflege Daten Mitarbeiter</li>
                    <li class="nav-inactive" id="categories">Pflege Kategorien</li>
                    <li class="nav-inactive" id="prolist">Auswertung Projekte/Komponenten/Fehler</li>
                    <li class="nav-inactive" id="timedif">Auswerung Projekte/Komponenten/Diff.</li>
                    <li class="nav-inactive" id="catlist">Auswertung Kategorien/Fehler</li>
                </ul>
            </nav>
               <aside></aside>
            <main>
                <h2 id="dash-header">Projekte/Komponenten/Fehler</h2>
                <div id ="window">
                </div>
            </main>
        </div>
    </body>
</html>